name: Create and publish a Docker image

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  workflow_call:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get details for tags
        shell: bash
        run: |
          export BRANCH=${{ github.head_ref || github.ref_name }}
          echo "BRANCH=${BRANCH}" >> $GITHUB_ENV
          export GIT_SHA=$(git log -1 --pretty=format:%h)
          echo "GIT_SHA=${GIT_SHA}" >> $GITHUB_ENV
          echo "BRANCH: ${BRANCH}  GIT_SHA: ${GIT_SHA}"

      - name: Log in to the Container registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=edge,branch=${{ env.BRANCH }}
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=schedule,pattern={{date 'YYYYMMDD' }}
            type=raw,value=sha-${{ env.GIT_SHA }}

      - name: Build and push Docker image
        uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
